{% extends "common/base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static "css/products/listing-details.css" %}">
    <div class="details">
        {% if request.user.is_business %}
            <div class="business-options">
                <a href="{% url 'delete-listing' pk=object.pk %}"><i class="fa fa-trash"></i></a>
                <a href="{% url 'edit-listing' pk=object.pk %}"><i class="fa fa-pencil"></i></a>
            </div>
        {% endif %}
        <div class="names">
            <h1>
                {{ object.name }} - <span>{{ object.price }} &dollar;</span>
            </h1>
            <p>from {{ object.user.name }} - {{ object.user.email }}</p>
        </div>
        <p class="posted-on">Posted on {{ object.created_on|date:"M d, Y" }}</p>
        <img src="{{ object.media.url }}" alt="{{ object.name }}">
        <div class="bottom">
            <p class="description">{{ object.description }}</p>
            {% if not request.user.is_business %}
                <a href="{% url 'buy-listing' pk=product.pk %}" class="button">Buy</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
