{% extends 'common/base.html' %}

{% block content %}
<style>
    ul {
        list-style-type: none;
    }
</style>
<div class="container w3-padding-64 w3-center">
    <h1>Product List</h1>
    <form class="card card-sm">
        <div class="card-body row no-gutters align-items-center">
            <div class="col">
                <input type="search" name='user' placeholder="Search for sellers"
                       class="form-control form-control-borderless">
            </div>
            <div class="col-auto">
                <button class="btn btn-success" type="submit">Search</button>
            </div>
        </div>
    </form>


 <div class="row m-5">
            {% for product in products %}
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div id="nm{{ product.id}}" class="card-name">{{ product.name }}</div>
                        <div id="price{{ product.id}}" class="card-text">{{ product.price }}</div>

<!--                        <a href="/{{ product.id}}" class="btn btn-warning">View</a>-->
<!--                        <button id="{{ product.id}}" class="btn atc btn-warning">Add to cart</button>-->

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
     <div class="row">
            <div class="col-md-3 offset-md-4">
                <ul class="pagination">
                    {% if products.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ products.previous_page_number}}">Previous</a>
                    </li>
                    {% endif %}


                    <li class="page-item active">
                        <a class="page-link" href="?page={{ products.number }}">Current Page ({{ products.number }})</a>
                    </li>

                    {% if products.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ products.next_page_number}}">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
</div>
{% endblock %}