{% extends 'common/base.html' %}
{% load static %}

{% block content %}
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'javascript/main.js' %}"></script>
<div class="container w3-padding-64 w3-center">
    {{ product.name }}
    {{ product.price }}
    <form method="post" action="{% url 'api_checkout_session' %}">
    {% csrf_token %}
    <!-- Other form fields go here, if needed -->
    Email: <input type="email" name="email" required>
    <input type="submit" value="Checkout">
</form>

     <section class="section">
    <div class="container">
      <button class="button is-primary" id="submitBtn">Purchase!</button>
    </div>
  </section>
</div>

{% endblock %}