{% extends "common/base.html" %}
{% block content %}
    <div class="container w3-center">
        <h1>Register</h1>
        <form action="{% url 'register_business' %}" method="post" class="form">
            {% csrf_token %}
            {% for error in form.non_field_errors %}<p class="w3-text-red">{{ error }}</p>{% endfor %}
            {% for field in form %}
                {{ field }}
                {% for error in field.errors %}<p class="w3-text-red">{{ error }}</p>{% endfor %}
            {% endfor %}
            <button type="submit" class="button">Register</button>
            <input type="hidden" name="is_business" value="{{ is_business }}">
        </form>
        <p>
            <a href="{% url 'login' %}">Already have an account?</a>
        </p>
    </div>
{% endblock %}
