{% extends "common/base.html" %}
{% block content %}
    <div class="container w3-center w3-padding-64">
        <h1>Register</h1>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            {% for error in form.non_field_errors %}<p class="w3-text-red">error</p>{% endfor %}
            {% for field in form %}
                {% if forloop.last %}
                    <p>
                        <label for="{{ field.auto_id }}">{{ field.label }}</label>
                        {{ field }}
                    </p>
                {% else %}
                    <p>{{ field }}</p>
                {% endif %}
                {% for error in field.errors %}<p class="w3-text-red">{{ error }}</p>{% endfor %}
            {% endfor %}
            <button type="submit">Register</button>
        </form>
    </div>
{% endblock %}
