{% extends "common/base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static "css/common/business-home.css" %}">
    <div class="statistics">
        <div>
            <span>{{ total_orders }}</span>
            <br>
            Orders
        </div>
        <div>
            <span>
                {% if profit %}
                    {{ profit }}
                {% else %}
                    0
                {% endif %}
            $</span>
            <br>
            Total Profit
        </div>
        <div>
            <span>{{ active_offers }}</span>
            <br>
            Active Offers
        </div>
        <div>
            <span>{{ visits_count }}</span>
            <br>
            Visits
        </div>
    </div>
{% endblock %}
